body {
    font-family: 'Inter', sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 20%;
    background: rgba(218, 229, 236, 0.5);
    box-shadow: 0.0625rem 0.25rem 0.25rem rgba(74, 103, 124, 0.22);
    border-radius: 0 0.625rem 0.625rem 0;
    padding: 0.625rem;
    overflow-y: hidden;
    transition: width 0.3s;
    position: relative;
}

.sidebar.collapsed {
    width: 2.8rem; /* 保留按钮宽度 */
    overflow: hidden;
}

.sidebar.collapsed .sidebar-title,
.sidebar.collapsed #search,
.sidebar.collapsed #history-list {
    display: none;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.menu-icon {
    width: 2rem;
    height: 2rem;
    opacity: 0.7;
    cursor: pointer;
    margin-right: 0.625rem;
}

.sidebar-title {
    position: absolute;
    width: 4rem;
    height: 1.1875rem;
    left: 0.8125rem;
    top: 5rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #A5B7C4;
    margin: 0;
}

#search {
    position: absolute;
    width: 13.625rem;
    height: 1.8125rem;
    left: 0.8125rem;
    top: 7.1875rem;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.25);
    border-radius: 0.6875rem;
    border: none;
    padding: 0.625rem;
}

#history-list {
    position: absolute;
    top: 10rem;
    bottom: 0.625rem;
    left: 0;
    right: 0;
    padding: 0.625rem;
    overflow-y: auto;
}

.history-item {
    background: rgba(212, 237, 255, 0.4);
    padding: 0.625rem;
    margin: 0.625rem 0;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.history-item:hover {
    background: rgba(212, 237, 255, 0.7);
}

.main-content {
    width: 80%;
    padding: 1.25rem;
    text-align: center;
    transition: width 0.3s, left 0.3s;
    position: relative;
}

.main-content.collapsed {
    width: calc(100% - 2.5rem);
}

.main-content:not(.collapsed) {
    width: 80%;
}

h1 {
    position: absolute;
    width: 9.375rem;
    height: 2.4375rem;
    left: 6.25rem;
    top: 1.5625rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4375rem;
    letter-spacing: 0.11em;

    color: #819BAE;
}

form {
    margin-top: 1.25rem;
}

input[type="text"] {
    width: 80%;
    padding: 0.625rem;
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #ccc;
    outline: none;
}

textarea {
    position: absolute;
    left: calc(10% + 2.5rem);
    bottom: 2rem;
    width: calc(70% - 2.5rem); /* 保持固定宽度 */
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0.625rem;
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    background: #FAFAFA;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.25);
    border-radius: 1.1875rem;
    outline: none;
}

textarea::placeholder {
    color: rgba(164, 164, 164, 0.5);
    font-size: 1.2rem;
    line-height: 1.8125rem;
    letter-spacing: 0.14em;
}

input[type="submit"] {
    background: rgba(77, 139, 184, 0.68);
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.8125rem;
    border: none;
    font-size: 1.75rem;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0.625rem 1.25rem;
}

#submit-button {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    left: 83%;
    top: 34.6875rem;
    background: rgba(238, 238, 238, 0.55);
    box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.25);
    border-radius: 1.8125rem;
    border: none;
    cursor: pointer;
    align-items: center;
}

#submit-button img {
    width: 1.5rem;
    height: 1.5rem;
}

#submit-button.loading img {
    width: 1.5rem;
    height: 1.5rem;
}

#response-container {
    position:absolute;
    left:8.5rem;
    top:5rem;
    margin-top: 1.25rem;
    padding:1rem;
    text-align: left;
    width: 70%;
    overflow-y: auto;
    max-height: 63vh; /* 根据需要调整 */
}

.response-box {
    display: block;
    float: right;
    max-width: 15rem;
    background: #FAFAFA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    padding: 1rem;
    margin-bottom: 1rem;
    word-wrap: break-word; /* 防止文字溢出 */
    clear: both; /* 确保不会有文字环绕 */
}

.response-box p {
    line-height: 1.5rem; /* 设置行高 */
    margin: 0; /* 移除段落的默认外边距 */
}

.user-question {
    font-size: 20px;
    line-height: 24px;
    color: #5A6871;
}

.answer {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #5A6871;
    margin-top: 0rem;
    max-width: 70%;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: auto;
    clear: both; /* 确保不会有文字环绕 */
}

.user-avatar {
    position: absolute;
    width: 39px;
    height: 38px;
    left: calc(100% - 7.5rem); /* Dynamically adjust position based on screen width */
    top: 24px;
    background: #D9D9D9;
    border-radius: 50%; /* Make it circular */
}

.user-name {
    position: absolute;
    width: 60px;
    height: 24px;
    left: calc(100% - 4.5rem); /* Dynamically adjust position based on screen width */
    top: 31px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #797979;
}

.buttons {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

/* 基本按钮样式 */
.button {
    position: absolute;
    width: 196px;
    height: 60px;
    border: 4px solid rgba(212, 237, 255, 0.4);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #364A58;
    text-decoration: none;
    box-sizing: border-box;
}

/* 悬停样式 */
.button:hover {
    background: rgba(212, 237, 255, 0.4);
    border: 4px solid rgba(212, 237, 255, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Group 10 */
#button-group-10 {
    position: absolute;
    width: 196px;
    height: 60px;
    left: 50px;
    top: 10px;
}

/* Rectangle 3 */
#rectangle-3 .button {
    left: 76px;
    top: 400px;
}

/* 长文本生成 */
#rectangle-3 .button span {
    width: 127px;
    height: 30px;
    left: 549px;
    top: 802px;
}

/* Group 11 */
#button-group-11 {
    position: absolute;
    width: 196px;
    height: 60px;
    left: 280px;
    top: 10px;
}

/* Rectangle 4 */
#rectangle-4 .button {
    left: 150px;
    top: 400px;
}

/* 获取保研信息 */
#rectangle-4 .button span {
    width: 148px;
    height: 30px;
    left: 826px;
    top: 801px;
}

/* Group 12 */
#button-group-12 {
    position: absolute;
    width: 196px;
    height: 60px;
    left: 50px;
    top: 10px;
}

/* Rectangle 5 */
#rectangle-5 .button {
    left: 700px;
    top: 400px;
}

/* 获取实习信息 */
#rectangle-5 .button span {
    width: 154px;
    height: 30px;
    left: 1111px;
    top: 802px;
}
